/.github/ @nvaccess/developers
/transform/ @nvaccess/developers
/validation/ @nvaccess/developers
/docs/ @nvaccess/developers
**/*.md @nvaccess/developers
/pyproject.toml @nvaccess/developers
/.pre-commit-config.yaml @nvaccess/developers
/uv.lock @nvaccess/developers
