[submodule "validation"]
	path = validation
	url = https://github.com/nvaccess/addon-datastore-validation.git
[submodule "transform"]
	path = transform
	url = https://github.com/nvaccess/addon-datastore-transform.git
