# Dependencies
flake8==3.9.2
# flake8-tabs version 2.3.2 gives spurious errors:
# "ET113 (flake8-tabs) use of alignment as indentation, but option continuation-style=hanging does not permit this"
flake8-tabs==2.2.2

# Requirements for validate
configobj @ git+https://github.com/DiffSK/configobj@8be54629ee7c26acb5c865b74c76284e80f3aa31#egg=configobj
jsonschema==4.23.0

