name: Check submitted NVDA add-on

on:
  pull_request:
    branches:
      - master

jobs:

  checkMetadata:
  
    runs-on: windows-latest

    steps:
    
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    - name: Set up Python 3.7 x86
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
        architecture: x86
    - name: Install dependencies
      run: |
        pip install jsonschema
        pip install tox
    - name: Write diff to text file
      run: |
        git diff --numstat origin/master...HEAD > pr.diff
    - name: Validate metadata
      run: |
        with open("pr.diff") as f:
            if len(f.readlines()) > 1:
                raise
                
    -name: Checkout 
                