name: Check submitted NVDA add-on

on:
  pull_request:
    branches:
      - master

jobs:

  checkMetadata:
  
    runs-on: windows-latest

    steps:
    
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Determine files changed
      uses: actions/github-script@v3
      id: getMetadata
      with:
        script: |
          const restPrefix = "GET /repos/"
          const owner = context.repo.owner
          const repo = context.repo.repo
          const number = context.issue.number
          restSubfix = "/files"
          const url = restPrefix + owner + "/" + repo + "/pulls/" + number + restSubfix
          result = await github.request(url)
          const changedFiles = result.data
          if (changedFiles.length === 1) {
            const filename = changedFiles[0].filename
            if (filename.startsWith("addons") && filename.endsWith(".json") && filename.split("/").length === 4) {
              return filename
            } else {
              throw Error "This is not an add-on"
            }
          }
    - name: Checkout validate repo
      uses: actions/checkout@v2
      with:
        repository: nvdaes/validateNvdaAddonMetadata
        path: validateNvdaAddonMetadata
    - name: Set up Python 3.7 x86
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
        architecture: x86
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install jsonschema
    - name: Validate metadata
      run: python validateNvdaAddonMetadata/_validate/validate.py ${{steps.getMetadata.outputs.result}}
