name: Check submitted NVDA add-on

on:
  workflow_call:
    inputs:
      issueNumber:
        required: true
        type: string
      issueAuthorId:
        required: true
        type: string
      issueAuthorName:
        required: true
        type: string
      pullRequestNumber:
        required: true
        type: string
      headRef:
        required: true
        type: string

jobs:
  getAddonFilename:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ 3.11 ]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    outputs:
      addonFileName: ${{ steps.getMetadata.outputs.result }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.headRef }}
      - name: Create validation errors file
        run: echo "" > validationErrors.md
      - name: Determine files changed
        uses: actions/github-script@v6
        id: getMetadata
        env:
          pullRequestNumber: ${{ inputs.pullRequestNumber }}
        with:
          script: |
            const getAddonFilename = require('./.github/workflows/checkFilesChanged.js')
            const url = "GET /repos/" + process.env.GITHUB_REPOSITORY + "/pulls/" + process.env.pullRequestNumber + "/files" 
            const result = await github.request(url)
            return getAddonFilename(result.data)
      - name: Post validation errors as comment
        if: failure()
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ inputs.issueNumber }}
          body-file: ./validationErrors.md
  verifySubmitter:
    # jq for windows has issues parsing multiline strings (e.g. CRLF),
    # use linux instead.
    runs-on: ubuntu-latest
    needs: [getAddonFilename]
    strategy:
      matrix:
        python-version: [ 3.11 ]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Check if submitter is trusted to submit for this add-on or any add-on ID
        id: checkReg
        run: |
          addonId=$(
            echo ${{ needs.getAddonFilename.outputs.addonFileName }} \
            | sed -r "s|addons/(.*)/.*\.json|\1|g"
          )
          jqCode="
          . | .[\"${{ inputs.issueAuthorId }}\"]
          | select(
            .trustedSubmitter
            or (
              .addons
              | index(\"$addonId\")
            )
          )
          "

          jq -e "$jqCode" submitters.json
          # -e only sets the exit status of jq to 0 if there is "truthy" output.
          # If no valid result is produced, i.e. no submitter is found, jq exits with status 4.
          # If there is a different error, a different non-zero exit code is used.
          exit $? # Exit with the same exit code as jq
      - name: Add add-on ID and submitter to JSON file
        if: failure()
        run: |
          addonId=$(
            echo ${{ needs.getAddonFilename.outputs.addonFileName }} \
            | sed -r "s|addons/(.*)/.*\.json|\1|g"
          )
          jqCode="
          .[\"${{ inputs.issueAuthorId }}\"].addons += [\"$addonId\"]
          | .[\"${{ inputs.issueAuthorId }}\"].githubName = \"${{ inputs.issueAuthorName }}\"
          "

          mv submitters.json submitters.old.json
          jq -e "$jqCode" submitters.old.json > submitters.json
          jqExitCode=$?
          rm submitters.old.json
          exit $jqExitCode
      - name: Create submitter approval PR
        if: failure()
        id: addSubmitterPR
        uses: peter-evans/create-pull-request@v4
        with:
          title: Add ${{ inputs.issueAuthorName }} as an approved submitter
          branch: addSubmitter${{ inputs.issueAuthorName }}
          commit-message: Add ${{ inputs.issueAuthorName }} as an approved submitter
          body: "Created from #${{ inputs.issueNumber }}"
          author: github-actions <github-actions@github.com>
      - name: Post submitter registration message
        if: failure()
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ inputs.issueNumber }}
          body: |
            Welcome to the add-on store submission process.
            As this is your first submission, you will need manual approval as a submitter.
            Please wait until #${{ steps.addSubmitterPR.outputs.pull-request-number }} is merged.
  checkMetadata:
    runs-on: windows-latest
    needs: [getAddonFilename]
    permissions:
      issues: write
      pull-requests: write
    strategy:
      matrix:
        python-version: [ 3.11 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.headRef }}
    - name: Create validation errors file
      run: echo "" > validationErrors.md
    - name: Checkout validate repo
      uses: actions/checkout@v3
      with:
        repository: nvaccess/addon-datastore-validation
        path: validation
        submodules: true
    - name: Install addon-datastore-validation dependencies
      run: |
        python -m pip install --upgrade wheel
        pip install -r validation/requirements.txt
    - name: Checkout transformation repo for nvdaAPIVersions.json
      uses: actions/checkout@v3
      with:
        repository: nvaccess/addon-datastore-transform
        path: transform
    - name: Validate metadata
      run: validation/runvalidate ${{ needs.getAddonFilename.outputs.addonFileName }} ./transform/nvdaAPIVersions.json --output ./validationErrors.md
    - name: Post validation errors as comment
      if: failure()
      uses: peter-evans/create-or-update-comment@v2
      with:
        issue-number: ${{ inputs.issueNumber }}
        body-file: ./validationErrors.md
    - name: Close pull request
      if: failure()
      uses: peter-evans/close-pull@v3
      with:
        pull-request-number: ${{ inputs.pullRequestNumber }}
        delete-branch: true
    - name: Close issue
      if: failure()
      uses: peter-evans/close-issue@v3
      with:
        issue-number: ${{ inputs.issueNumber }}

  createReviewComment:
    # jq for windows has issues parsing multiline strings (e.g. CRLF),
    # use linux instead.
    runs-on: ubuntu-latest
    needs: [checkMetadata, getAddonFilename]
    strategy:
      matrix:
        python-version: [ 3.11 ]
    permissions:
      contents: write
      discussions: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.headRef }}
    - name: Get add-on name and version
      id: getAddonNameAndVersion
      uses: actions/github-script@v6
      with:
        script: |
          const fs = require('fs')
          const addonFilename = ${{ needs.getAddonFilename.outputs.addonFileName }}
          const contents = fs.readFileSync(addonFilename)
          const metadata = JSON.parse(contents)
          const addonName = metadata.addonId
          core.setOutput('addonName', addonName)
          const addonVersion = addonFilename.split('/')[2].replace('.json', '')
          core.setOutput('addonVersion', addonVersion)
    - name: Check if discussion for this add-on exists
      id: checkDiscussion
      continue-on-error: true
      run: |
        addonId=$(
          echo ${{ needs.getAddonFilename.outputs.addonFileName }} \
          | sed -r "s|addons/(.*)/.*\.json|\1|g"
        )
        jqCode="
        . | .[\"$addonId\"]
        "
        jq -e "$jqCode" discussions.json
        # -e only sets the exit status of jq to 0 if there is "truthy" output.
        # If no valid result is produced, i.e. no add-on id is found, jq exits with status 4.
        # If there is a different error, a different non-zero exit code is used.
        exit $? # Exit with the same exit code as jq
    - name: Get category id
      id: getCatId
      if: (${{ success() }} || ${{ failure() }}) && (${{ steps.checkDiscussion.outcome }} == 'failure')
      uses: actions/github-script@v6
      with:
        result-encoding: string
        script: |
          const query = `query($owner:String!, $name:String!) {
            repository(owner:$owner, name:$name){
              discussionCategories(first: 1) {
                  nodes {
                    id
                  }
                }
              }
            }`;
            const variables = {
              owner: context.repo.owner,
              name: context.repo.repo
            }
            const result = await github.graphql(query, variables)
            const catId = result.discussionCategories.nodes[0].id
            return catId
    - name: Create discussion for add-on id
      id: createDiscussion
      if: (${{ success() }} || ${{ failure() }}) && (${{ steps.checkDiscussion.outcome }} == 'failure')
      uses: abirismyname/create-discussion@v1.1.0
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
      with:
        repository-id: $GITHUB_REPOSITORY_ID
        category-id: ${{ steps.getCatId.outputs.result }}
        title: Reviews for ${{ steps.getAddonNameAndVersion.outputs.addonName }} add-on
        body: |
          Community add-on reviews for ${{ steps.getAddonNameAndVersion.outputs.addonName }}.
          Please use threaded replies and avoid email responses.
          Reviews for specific versions of the add-on can be added in response to automated comments for each version.
          Reviews should abide by the [NVDA code of conduct](https://github.com/nvaccess/nvda/blob/master/CODE_OF_CONDUCT.md).
    - name: Add add-on ID and discussion data to json file
      if: (${{ success() }} || ${{ failure() }}) && (${{ steps.checkDiscussion.outcome }} == 'failure'
      run: |
        addonId=$(
          echo ${{ needs.getAddonFilename.outputs.addonFileName }} \
          | sed -r "s|addons/(.*)/.*\.json|\1|g"
        )
        discussionId=$(
          echo ${{ steps.createDiscussion.outputs.discussion-id }}
        )
        discussionUrl=$(
          echo ${{ steps.createDiscussion.outputs.discussion-url }}
        )
        jqCode="
        .[\"$addonId\"].discussionId = \"$discussionId\"
        | .[\"$addonId\"].discussionUrl = \"$discussionUrl\"
        "
  
        mv discussions.json discussions.old.json
        jq -e "$jqCode" discussions.old.json > discussions.json
        jqExitCode=$?
        rm discussions.old.json
        exit $jqExitCode
    - name: Create review comment
      id: createComment
      if: always()
      uses: actions/github-script@v6
      with:
        script: |
          const fs = require('fs')
          const addonVersion = "${{ steps.getAddonNameAndVersion.outputs.addonVersion }}"
          const contents = fs.readFileSync('discussions.json')
          const data = JSON.parse(contents)
          const addonName = "${{ steps.getAddonNameAndVersion.outputs.addonName }}"
          const discussionId = data[addonName]["discussionId"]
          const mutation = `mutation {
            addDiscussionComment(
              input: {
                body: "Reviews for version ${addonVersion}",
                discussionId: "${discussionId}",
                clientMutationId: "GitHub Script action"
              }
            ) {
              clientMutationId
              comment {
                body
                url
              }
            }`;
          const response =github.graphql(mutation)
          const url = response.comment.url
          core.setOutput('url', url)
    - name: Add discussion URL to metadata
      if: always()
      run: |
        addonFilename=$(
          echo ${{ needs.getAddonFilename.outputs.addonFileName }}
        )
        reviewUrl=$(
          echo ${{ steps.createComment.outputs.url }}
        )
        jqCode="
        .[\"reviewUrl\"] = \"$reviewUrl\"
        "
  
        mv $addonFilename $addonFilename.old.json
        jq -e "$jqCode" $addonFilename.old.json > $addonFilename
        jqExitCode=$?
        rm $addonFilename.old.json
        exit $jqExitCode
    - name: Commit and push
      if: always()
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "update discussion URL"
        git push

  mergeToMaster:
    needs: [getAddonFilename, checkMetadata, verifySubmitter]
    permissions:
      contents: write
      pull-requests: write
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ 3.11 ]
    steps:
    - name: Merge branch to master
      uses: everlytic/branch-merge@1.1.2
      with:
        source_ref: ${{ inputs.headRef }}
        target_branch: master
        commit_message_template: '[Automated] Merged ${{ needs.getAddonFilename.outputs.addonFileName }} (#${{ inputs.pullRequestNumber }}) into master'
  call-workflow:
    needs: mergeToMaster
    uses: ./.github/workflows/transformDataToViews.yml

