name: Check submitted NVDA add-on

on:
  workflow_call:
    inputs:
      pullRequestNumber:
        required: true
        type: string
      headRef:
        required: true
        type: string

jobs:
  checkMetadata:
    permissions:
      contents: write
      pull-requests: write
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ 3.8 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.headRef }}
    - name: Determine files changed
      uses: actions/github-script@v6
      id: getMetadata
      env:
        pullRequestNumber: ${{ inputs.pullRequestNumber }}
      with:
        script: |
          const url = "GET /repos/nvaccess/addon-datastore/pulls/" + process.env.pullRequestNumber + "/files" 
          const result = await github.request(url)
          var addonFileName
          const changedFiles = result.data
          for (fileData of changedFiles) {
            const filename = fileData.filename
            if (filename.startsWith("addons")) {
              if (Boolean(addonFileName)){
                throw "Please submit addon releases individually. One file at a time."
              }
              if (fileData.status != "added") {
                throw "Modifications to submitted add-ons will not be auto-approved"
              }
              addonFileName = filename
            }
            else {
              throw "Non-addon-submission files updated"
            }
          }
          return addonFileName
    - name: Checkout validate repo
      uses: actions/checkout@v3
      with:
        repository: nvaccess/addon-datastore-validation
        path: addon-datastore-validation
        submodules: true
        ref: outputValdiationErros
    - name: Install addon-datastore-validation dependencies
      run: |
        python -m pip install --upgrade wheel
        pip install -r addon-datastore-validation/requirements.txt
    - name: Checkout transformation repo for nvdaAPIVersions.json
      uses: actions/checkout@v3
      with:
        repository: nvaccess/addon-datastore-transform
        path: transform
    - name: Validate metadata
      run: addon-datastore-validation/runvalidate ${{ steps.getMetadata.outputs.result }} ./transform/nvdaAPIVersions.json ./validateErrors.txt
    - name: Post validation errors as comment
      if: failure()
      uses: peter-evans/create-or-update-comment@v2
      with:
        issue-number: ${{ inputs.pullRequestNumber }}
        body-file: ./validateErrors.txt
    - name: Merge branch to master
      uses: everlytic/branch-merge@1.1.2
      with:
        source_ref: ${{ inputs.headRef }}
        target_branch: master
        commit_message_template: '[Automated] Merged ${{ steps.getMetadata.outputs.result }} (${{ inputs.pullRequestNumber }}) into master'
  call-workflow:
    needs: checkMetadata
    uses: ./.github/workflows/transformDataToViews.yml
