name: Send json file

on:
  issues:
    types: 
      - labeled

jobs:
  check-addon:
    permissions:
      contents: write
    name: Check add-on
    if: github.event.label.name == 'autoSubmissionFromIssue'
    runs-on: windows-latest
    steps:
    - name: Checkout datastore repo
      uses: actions/checkout@v3
      with:
        repository: nvaccess/addon-datastore
        ref: master
        path: datastore
    - name: Get data
      id: get-data
      uses: actions/github-script@v6
      with:
        script: |
          const setOutputFromIssue = require('./datastore/.github/workflows/getData.js')
          setOutputFromIssue({context, core})
    - name: Checkout validate repo
      uses: actions/checkout@v3
      with:
        repository: nvaccess/addon-datastore-validation
        submodules: true
        path: validation
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Download add-on
      run: curl --location --output addon.nvda-addon ${{ steps.get-data.outputs.downloadUrl }}
    - name: Create JSON submission from issue
      run: |
        validation\runcreatejson -f addon.nvda-addon --dir datastore\addons --channel=${{ steps.get-data.outputs.releaseChannel }} --publisher=${{ github.event.sender.login }} --sourceUrl=${{ steps.get-data.outputs.sourceUrl }} --url=${{ steps.get-data.outputs.downloadUrl }} --licName="${{ steps.get-data.outputs.licenseName }}" --licUrl=${{ steps.get-data.outputs.licenseURL }}
      shell: cmd
    - name: Commit and push
      run: |
        cd datastore
        git checkout -b ${{ github.event.sender.login }}${{ steps.get-data.outputs.issueNumber }}
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "${{ steps.get-data.outputs.issueTitle }}" -m "Closes #${{ steps.get-data.outputs.issueNumber }}"
        git push --set-upstream origin
